node_modules
# Keep environment variables out of version control
.env
dist/
/generated/prisma

# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Imágenes y archivos subidos
uploads/
reconocimiento/recibidos/